[Desktop Entry]
Name=PokeMMO
Comment=Play the new era of monster battles online
Exec=pokemmo
Keywords=game;adventure;multiplayer;online;fantasy;emulator;monster;battle;
Terminal=false
Type=Application
Icon=pokemmo
Categories=Game;AdventureGame;Emulator;RolePlaying;
