[Desktop Entry]
Name=PokeMMO Installer
Comment=Installer and Launcher for the PokeMMO emulator
Exec=pokemmo-installer
Keywords=game;adventure;multiplayer;online;emulator;monster;battle;
Terminal=false
Type=Application
Icon=pokemmo-installer
Categories=Game;AdventureGame;Emulator;RolePlaying;
