[Desktop Entry]
Name=PokeMMO
Comment=Welcome to a new era of online monster battles
Exec=pokemmo-installer
Keywords=game;adventure;multiplayer;online;fantasy;emulator;monster;battle;
Terminal=false
Type=Application
Icon=pokemmo
Categories=Game;AdventureGame;Emulator;RolePlaying;
